<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style2.css">
</head>

<body class="Swipe">
    <%- include('partials/header.ejs'); %>

    <h1>Jouw matches</h1>

    <main>
        <% images.forEach(function(image){ %>
        <section class="option">
            <div>
                <section>
                    <h2><%= image.name %></h2>
                    <h3><%= image.storyline %></h3>
                    <img src="/images/<%= image.url %>" alt="">
                </section>
            </div>

            <div>
                <a href="#">NOT</a>
                <a href="image/<%= image.id %>">HOT</a>
            </div>

        </section>
        <% }) %>
    </main>

    <script src="script.js"></script>

</body>

</html>